<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>header</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../../static/images/czosnyka.png" width="50" height="50" alt=""/>
        Aplikacja autobusowa firmy Autokarowe Przewozy
    </a>
    <form class="form-inline" form-method="post" action="/logout">
        <button class="btn btn-danger" style="float: right">Wyloguj</button>
    </form>


</nav>

